
    .btn {
        background-color: #AFAFAF;
        display: block;
    }

    table {
        background-color: #E5E5E5;
        border: 1px solid #CD853F;
    }
	
	.gbr {
		padding-left: 28px;
	}
